.header {
    font-size: 32px;
    font-family: fantasy;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.header_btn {
    color: var(--second-color);  
}
.header_btn:hover {
    color: var(--hover-color);
}

.selected {
    text-decoration: underline;
}

.selected:hover {
    color:var(--second-color);
    cursor: default;
}
