 div.block {
  height: 100px;
  background-color: var(--main-color);
  flex: 1 1 calc((100% / 6) - 2rem);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.block > button {
  color: var(--second-color);
  background-color: var(--main-color);
  font-size: large;
}
div.block > button:hover {
  color: var(--hover-color);
}
div.block > button:focus {
  outline: none;
}
div.block button {
  border: none;
}
.gap_class {
  gap: 1rem;
}
.margin_with_article {
  margin-left: 5%;
}
