:root {
    --main-color: black;
    --second-color: whitesmoke;
    --hover-color: #0056b3;
}
/*document.documentElement.style.setProperty('--main-color', 'blue'); */


.custom_btn {
    border-radius: 20%;
    background-color: var(--main-color);
    border-color: var(--main-color);
    margin-left: 5px;
    margin-top: 2px;
}
.custom_btn svg {
    vertical-align: unset;
}
.custom_btn:hover {
    border-color: var(--hover-color);
}