:root {
    --main-color: black;
    --second-color: whitesmoke;
    --hover-color: #0056b3;
}
/*document.documentElement.style.setProperty('--main-color', 'blue'); */


.custom_btn {
    border-radius: 30%;
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--second-color);
    font-weight: 600;
    margin-left: 5px;
    margin-top: 2px;
}
.custom_btn:hover {
    color: var(--hover-color);
}